@import 'config/_colors';
@import 'config/_reset';
@import 'components/_switches';
@import 'components/_sliders';
@import 'components/_lights';
@import 'components/_buttons';
@import 'components/_wheels';
@import 'components/_keys';
@import 'modules/_program-selector';
@import 'modules/_oscillator';
@import 'modules/_lfo';
@import 'modules/_keyboard';

#osc1,
#osc2,
#noise,
#lfo,
#mixer,
#filter,
#filter-eg,
#vca-eg,
#paypal {
	display: inline-block;
	margin: 1rem 0 1rem 1rem;
	vertical-align: top;
}
.osc-tracking {
	float: right;
	margin: 0 0.5rem;	
}