*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  font-size: 20px; }

body {
  background-image: url("../images/bg-spots.jpg"); }

.wrapper {
  margin: 0 auto;
  max-width: 1200px; }

header {
  background: tan;
  box-shadow: 0 -0.5rem 1rem .5rem #3e3c39;
  padding: .5rem 1rem; }
  header .wrapper {
    padding-left: 1rem; }
  header h1 {
    display: inline;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 1rem 0 0;
    text-transform: uppercase; }

section {
  margin: 1rem;
  padding: 0; }
  section h2 {
    color: #a3a394;
    font-family: "brandon-grotesque", sans-serif;
    font-size: .8rem;
    font-style: italic;
    text-transform: uppercase; }
  section h3 {
    color: #a3a394;
    font-family: "brandon-grotesque", sans-serif;
    font-size: .7rem;
    text-transform: uppercase; }

label {
  color: #9f9693;
  cursor: pointer;
  font-size: .5rem;
  text-transform: uppercase; }

button {
  outline: none; }

.author {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: normal;
  text-transform: uppercase; }

a {
  text-decoration: none; }

a:link {
  color: blanchedalmond; }

a:visited {
  color: linen; }

a:hover {
  color: #fff; }

a:active {
  color: #fdfdfd; }

.title-only {
  display: none; }

:focus {
  outline: none; }

.promo-text {
  color: #a3a394;
  display: inline;
  font-size: 0.7rem; }

.donate {
  margin: 0.5rem 0; }

.horizontal-multi-switch, .vertical-multi-switch {
  background: #9e9c99 linear-gradient(#6c6956, #888877);
  border: 1px solid #3c3926;
  border-radius: .2rem;
  display: inline-block; }
  .horizontal-multi-switch label, .vertical-multi-switch label {
    color: #000;
    text-align: center; }
    .horizontal-multi-switch label:not(.selected):hover, .vertical-multi-switch label:not(.selected):hover {
      background: #696663; }
    .horizontal-multi-switch label.selected, .vertical-multi-switch label.selected {
      background: #9e9c99 linear-gradient(#53515f, #363432);
      box-shadow: inset 0 -1px 2px 1px #424140, 0 2px 4px -2px #543230;
      color: #cfc6c3;
      text-shadow: -2px 0 1px #7f7673, 2px 0 1px #7f7673; }
    .horizontal-multi-switch label input, .vertical-multi-switch label input {
      display: none; }

.horizontal-multi-switch label {
  display: table-cell;
  height: 1.4rem;
  vertical-align: middle;
  width: 4rem; }
  .horizontal-multi-switch label:not(.selected):hover {
    box-shadow: inset 1px 0 #3e3c39, 1px 0 #3e3c39; }
  .horizontal-multi-switch label:first-child {
    border-right: none;
    border-radius: .2rem 0 0 .2rem; }
    .horizontal-multi-switch label:first-child:not(.selected):hover {
      box-shadow: inset 0 0 #3e3c39, 1px 0 #3e3c39; }
  .horizontal-multi-switch label:last-child {
    border-left: none;
    border-radius: 0 .2rem .2rem 0; }

.vertical-multi-switch {
  vertical-align: top;
  width: 3rem; }
  .vertical-multi-switch label {
    display: block;
    padding: 0.5rem 0; }
    .vertical-multi-switch label:not(.selected):hover {
      box-shadow: inset 0 1px #3e3c39, 0 1px #3e3c39; }
    .vertical-multi-switch label:first-child {
      border-radius: .2rem .2rem 0 0; }
      .vertical-multi-switch label:first-child:not(.selected):hover {
        box-shadow: inset 0 0 #3e3c39, 0 1px #3e3c39; }
    .vertical-multi-switch label:last-child {
      border-radius: 0 0 .2rem .2rem; }

.horizontal-slider-wrapper {
  margin: 1rem 0 .4rem; }
  .horizontal-slider-wrapper label {
    vertical-align: super; }

.horizontal-slider {
  margin: 0 1rem;
  position: relative;
  width: 8.5rem; }
  .horizontal-slider::before {
    content: '0'; }
  .horizontal-slider::after {
    content: '10';
    margin-left: -0.6rem; }

.horizontal-slider::before, .horizontal-slider::after {
  color: #9f9693;
  float: left;
  font-size: 0.6rem;
  position: absolute;
  top: -1rem;
  z-index: 1; }

.slider-wrapper {
  background: linear-gradient(#6c6956, #888877);
  display: inline-block;
  border: 1px solid #3c3926;
  width: 3rem; }

.vertical-slider {
  -webkit-appearance: slider-vertical;
  height: 6rem;
  margin: 1rem auto 0;
  width: 3rem; }

.slider-label {
  color: #000;
  display: block;
  font-size: 0.5rem;
  text-align: center;
  text-transform: uppercase; }

.octave-minus-2, .octave-minus-1, .octave-plus-0, .octave-plus-1, .octave-plus-2 {
  border: 1px solid #2e2a0e;
  border-radius: 50%;
  box-sizing: content-box;
  color: #fff6f3;
  display: inline-block;
  font-size: 0.5rem;
  height: 0.6rem;
  line-height: 4;
  margin: 1rem 0.9rem 1rem 0;
  opacity: .2;
  text-align: center;
  transition: opacity .25s ease-out;
  width: 0.6rem; }
  .lit.octave-minus-2, .lit.octave-minus-1, .lit.octave-plus-0, .lit.octave-plus-1, .lit.octave-plus-2 {
    color: #fff6f3;
    opacity: 1 !important; }

.octave-shift-down, .octave-shift-up {
  background: #3e3c39 linear-gradient(#514e5d, #2e2c29);
  border: 1px solid #3c3926;
  border-radius: 0.2rem;
  box-shadow: inset 0 -1px 2px 1px #424140, 0 2px 2px -2px #343230;
  color: #9f9693;
  cursor: pointer;
  font-size: 0.6rem;
  height: 1.5rem;
  width: 3.5rem; }
  .octave-shift-down:hover, .octave-shift-up:hover {
    background: #3e3c39 linear-gradient(#53515f, #3e3c39);
    box-shadow: inset 0 -1px 2px 1px #525150, 0 2px 4px -2px #545250; }

#pitch-wheel, #mod-wheel {
  background: #827c7a;
  border: 1px solid #9f9693;
  float: left;
  font-size: 0.7rem;
  height: 13.1rem;
  text-align: center;
  width: 4rem; }
  #pitch-wheel label, #mod-wheel label {
    color: #000; }

#pitch-bend, #mod-amount {
  -webkit-appearance: slider-vertical;
  height: 10rem;
  margin: 1rem auto 0;
  width: 4rem; }

.c,
.d,
.e,
.f,
.g,
.a,
.b, .c-sharp,
.d-sharp,
.f-sharp,
.g-sharp,
.a-sharp {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 1px solid #7a7878;
  cursor: pointer;
  float: left; }

.c,
.d,
.e,
.f,
.g,
.a,
.b {
  background: linear-gradient(white, #f2f2f2 2px, #d2d2d2);
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 -4px 2px 2px #c2c1c0, 0 4px 6px -2px #242220;
  height: 13.5rem;
  margin: 0 0 2rem;
  width: 2.2rem; }
  .c:hover,
  .d:hover,
  .e:hover,
  .f:hover,
  .g:hover,
  .a:hover,
  .b:hover {
    background: linear-gradient(white, #f0f0f0 2px, #e8e8e8 10rem, #a2a2a0);
    box-shadow: inset 0 -1px 2px 1px #a2a1a0, 0 4px 3px -3px #100b0a; }
  .playing.c,
  .playing.d,
  .playing.e,
  .playing.f,
  .playing.g,
  .playing.a,
  .playing.b {
    background: linear-gradient(white, #f0f0f0 2px, #e8e8e8 10rem, #a2a2a0);
    box-shadow: inset 0 -1px 2px 1px #a2a1a0, 0 4px 3px -3px #100b0a; }

.c-sharp,
.d-sharp,
.f-sharp,
.g-sharp,
.a-sharp {
  background: linear-gradient(#cccccc, #222222 2px, #111111);
  border-radius: 0 0 6px 4px;
  box-shadow: inset 0px -8px 6px 4px #222;
  height: 8.5rem;
  width: 1.5rem;
  left: -0.75rem;
  margin: 0 -1.5rem 0 0;
  position: relative;
  z-index: 1; }
  .playing.c-sharp,
  .playing.d-sharp,
  .playing.f-sharp,
  .playing.g-sharp,
  .playing.a-sharp {
    background: #3e3c39 !important; }

#program {
  display: inline-block;
  padding: 0;
  margin: 0 1rem; }
  #program label {
    color: #000; }

.osc-title {
  display: inline; }

.osc-tracking label {
  vertical-align: middle; }

#keyboard-controls {
  display: inline-block;
  margin: 1rem 0 1rem 0.8rem; }

.octave-shift {
  display: inline-block; }

.octave-minus-2 {
  background: radial-gradient(#cc0000, #660000); }
  .octave-minus-2.lit {
    box-shadow: 0 -0.1rem 1rem #600; }

.octave-minus-1 {
  background: radial-gradient(red, #990000); }
  .octave-minus-1.lit {
    box-shadow: 0 -0.1rem 1rem #900; }

.octave-plus-0 {
  background: radial-gradient(#99ff99, #339933); }
  .octave-plus-0.lit {
    box-shadow: 0 -0.1rem 1rem #393; }

.octave-plus-1 {
  background: radial-gradient(#99cc00, #336600); }
  .octave-plus-1.lit {
    box-shadow: 0 -0.1rem 1rem #9c0; }

.octave-plus-2 {
  background: radial-gradient(#ff9933, #996600); }
  .octave-plus-2.lit {
    box-shadow: 0 -0.1rem 1rem #f93; }

.octave-shift-down {
  margin: 0 1rem 0 0; }

#portamento {
  display: inline-block;
  margin: 1rem 0;
  vertical-align: top; }

#portamento-amount {
  display: inline-block; }

#mod-wheel {
  background: #999;
  margin: 0 1rem 0 0; }

#keyboard {
  clear: both;
  margin: 0 1rem 2rem; }

#osc1,
#osc2,
#noise,
#lfo,
#mixer,
#filter,
#filter-eg,
#vca-eg,
#paypal {
  display: inline-block;
  margin: 1rem 0 1rem 1rem;
  vertical-align: top; }

.osc-tracking {
  float: right;
  margin: 0 0.5rem; }
