#keyboard {
//    background: #1f1f17;//temporarily commenting out for a quick fix...
    font-size: 0;
    margin: 1rem -1rem -1rem;
}
%darken-endcheeks {
    background: rgba(0,0,0,0.1);
    bottom: 0;
    content: '';
    position: absolute;
    top: calc(100% - 13rem);
    width: 3rem;
}
#keyboard::before {
    @extend %darken-endcheeks;
    left: -3rem;
}

#keyboard::after {
    @extend %darken-endcheeks;
    right: -3rem;
    z-index: 1;
}

.fake-shadow {
    border: 0;
    //box-shadow: -1px 4px 6px 2px rgba(0,0,0,.36);// subtle version
    box-shadow: -1px 4px 4px 5px rgba(0,0,0,.66);
    margin: 0 auto;
    position: relative;
    width: calc(100% - 10px);
    z-index: 2;
}