//OCTAVE SHIFT
#keyboard-controls {
	display: inline-block;
	margin: 1rem 0 1rem .8rem;
}
#octave-shift {
	display: inline-block;
}
#octave-minus-2 {
	@extend %round-light;
	background: radial-gradient(#c00, #600);
	&.lit {
		box-shadow: 0 -.1rem 1rem #600;
	}
}
#octave-minus-1 {
	@extend %round-light;
	background: radial-gradient(#f00, #900);
	&.lit {
		box-shadow: 0 -.1rem 1rem #900;
	}
}
#octave-plus-0 {
	@extend %round-light;
	background: radial-gradient(#9f9, #393);
	&.lit {
		box-shadow: 0 -.1rem 1rem #393;
	}
}
#octave-plus-1 {
	@extend %round-light;
	background: radial-gradient(#9c0, #360);
	&.lit {
		box-shadow: 0 -.1rem 1rem #9c0;
	}
}
#octave-plus-2 {
	@extend %round-light;
	background: radial-gradient(#f93, #960);
	&.lit {
		box-shadow: 0 -.1rem 1rem #f93;
	}
}
#octave-shift-down {
	@extend %button;
	margin: 0 1rem 0 0;
}
#octave-shift-up {
	@extend %button;
}
#portamento {
	display: inline-block;
	margin: 1rem 0;
	vertical-align: top;
}
#portamento-amount {
	display: inline-block;
}
#pitch-wheel {
	@extend %wheel-wrapper;
}
#mod-wheel {
	@extend %wheel-wrapper;
	background: #999;
	margin: 0 1rem 0 0;
}
#keyboard {
	clear: both;
	margin: 0 1rem 2rem;
}