#keyboard {
    background: linear-gradient(#1f1f17, #191911) repeat-x;
    background-size: 1px 13rem;//FIND WHATEVER IS 13REM AND USE VARIABLE
    font-size: 0;
    margin: 1rem -1rem -1rem;
}
%darken-endcheeks {
    background: rgba(0, 0, 0, 0.1);//WARNING ZERO
    bottom: 0;
    content: '';
    position: absolute;
    top: calc(100% - 13rem);//USE VARIABLE
    width: 3rem;
}
#keyboard::before {
    @extend %darken-endcheeks;
    left: -3rem;
}

#keyboard::after {
    @extend %darken-endcheeks;
    right: -3rem;
    z-index: 1;
}

.fake-shadow {
    border: 0;
    box-shadow: -1px 3px 4px 5px rgba(0, 0, 0, .66);//ok but unconvincing
    margin: 0 auto;
    position: relative;
    width: calc(100% - 12px);//WARNING PIXELS
    z-index: 2;
}


//KEYS
.c,.d,.e,.f,.g,.a,.b {
    @extend %white-key;
}
.c-sharp,.d-sharp,.f-sharp,.g-sharp,.a-sharp {
    @extend %black-key;
}