%module {
    border: 2px solid #555;
    border-radius: .5rem;
    display: inline-block;
    padding: .5rem;
    vertical-align: top;
    > h2 {
        background: linear-gradient(to right, #242423 5rem, transparent);
        padding: 0 1rem 0 .25rem;
        position: relative;
        top: -1rem;
    }
}

#osc1 {
    @extend %module;
    > h2 {
        margin-bottom: -1rem;
    }
}

#osc1-kbd {
    @extend %on-off-switch;
    margin-left: 4rem;
}

.kbd-tracking {//TOTAL GARBAGE!
    font-size: .5rem;
    text-transform: uppercase;
    vertical-align: middle;
}

#osc1-coarse {
    @extend %multi-switch;
    margin: 1rem 0;
}

