#program {
  background: #600;
  box-shadow: inset 0 0 1.2rem -3px #900;
  color: rgb(255, 50, 50);//WHY THIS COLOR?
  cursor: pointer;
  font-family: 'ocr-b-std', monospace;
  margin: -1.5rem auto 1rem;
  padding: .5rem;
  text-transform: uppercase;
  text-shadow: 0 2px 3px #c40000;
}

#program-select {
  -webkit-animation: drop-down .25s;
  background: inherit;
  box-shadow: inherit;
  display: none;
  left: 0;
  height: 7.5rem;
  margin: -.5rem auto;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  transform-origin: top;
  width: calc(100% - 2rem);
  z-index: 1;

  > button {
    background: none;
    border: 1px solid transparent;
    color: inherit;
    padding: .5rem;
    font-family: 'ocr-b-std', serif;
    text-align: left;
    text-transform: uppercase;
    width: 12rem;

    &:hover {
      border: 1px solid;
    }

  }

}

#program-name {

  &::before {
    content: '88888888888888888888888888888888888888888888888888888888888888888888888888888888';
    opacity: .2;
    overflow: hidden;
    position: absolute;
    width: 51rem;
  }

}