%round-light {
	border: 1px solid #1c1906;
	border-radius: 50%;
	box-sizing: content-box;
	color: #fff6f3;
	display: inline-block;
	font-size: 0.5rem;
	height: 0.6rem;
	line-height: 4;
	margin: 1rem 0.9rem 1rem 0;
	opacity: .2;
	text-align: center;
	transition: opacity .25s ease-out;
	width: 0.6rem;
	&.lit {
		color: #fff6f3;
		opacity: 1 !important;
	}
}
