%module {
    border: 2px solid #555;
    border-radius: .5rem;
    display: inline-block;
    padding: .5rem;
    vertical-align: top;
    > h2 {
        background: linear-gradient(to right, $body-bg 5rem, transparent);
        padding: 0 1rem 0 .25rem;
        position: relative;
        top: -1.1rem;
    }
}