@-webkit-keyframes multi-switch {//can combine color with other animation...
    0% {
        color: #000;
    }
    45% {
        color: #000;
    }
    100% {
        color: #cfc6c3;
    }
}

%multi-switch {//horizontal
    background: linear-gradient(#53515f, #363432) repeat-y, linear-gradient(#6c6956, #887) repeat-x;
    background-position: 4rem;
    background-size: 4rem 1.4rem;
    border: 1px solid #3c3926;
    border-radius: .2rem;
    display: inline-block;
    transition: background-position .25s;
    &.pos1 {
        background-position: 0rem;
    }
    &.pos2 {
        background-position: 4rem;
    }
    &.pos3 {
        background-position: 8rem;
    }
    &.pos4 {
        background-position: 12rem;
    }
    label {
        color: #000;
        display: table-cell;
        font-size: .5rem;
        height: 1.4rem;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 4rem;
    }
    .selected {
        -webkit-animation: multi-switch .25s;
        color: #cfc6c3;
        text-shadow: -2px 0 1px #7f7673, 2px 0 1px #7f7673;
    }
    input {
        display: none;
    }
}