.slider-label {
  background: linear-gradient(#444 0px, #444 1px, transparent 1px, transparent 20px,
                              #666 20px, #666 21px, transparent 21px, transparent 40px
                              );
  border-bottom: 1px solid #444;
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 2.3rem 2rem;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 0.5rem;
  height: 6rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 3rem;
}

.vertical-slider {
  -webkit-appearance: slider-vertical;
  height: 6rem;
  margin-bottom: .25rem;
  width: 3rem;
}

.vertical-slider::before {
  background: linear-gradient(#6c6956, #887);
  border: 1px solid #000;
  content: '';
  display: inline-block;
  position: absolute;
  height: 8rem;
  top: -1rem;
  width: 3rem;
  z-index: -1;
}
