.slider-label {
  background: linear-gradient(#666 0px, #666 1px, transparent 1px, transparent 20px, #444 20px, #444 21px, transparent 21px, transparent 40px);
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 2.3rem 2rem;
  border-bottom: 1px solid #666;
  display: inline-block;
  font-size: 0.5rem;
  height: 6rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 3rem;
}

.vertical-slider {
  -webkit-appearance: slider-vertical;
  height: 6rem;
  margin-bottom: .25rem;
  width: 3rem;
  &::before {
    background: linear-gradient(#6c6956, #887);
    border: 1px solid #000;
    content: '';
    display: inline-block;
    height: 8rem;
    position: absolute;
    top: -1rem;
    width: 3rem;
    z-index: -1;
  }
}

.horizontal-slider-label {//GARBAGE?
  display: inline-block;
  font-size: .5rem;
  margin: 1rem 0 .4rem;
  text-transform: uppercase;
  vertical-align: top;
}

%number-line {
    color: #9f9693;
    font-size: .6rem;
    position: absolute;
    top: -1rem;
    z-index: 1;
  }

.horizontal-slider {
  margin: -.1rem 0 0 1rem;
  position: relative;
  top: -.2rem;
  width: 8.5rem;
  &::before {
    @extend %number-line;
    content: '0';
  }
  &::after {
    @extend %number-line;
    content: '10';
    margin-left: -.6rem;
  }
}