#osc1-kbd {
    background: #9e9c99 linear-gradient(#6c6956, #887);
    border: 1px solid #2c2916;
    border-radius: .2rem;
    color: #000;
    display: inline-block;
}

#osc1-kbd input {
    display: none;
}

#osc1-kbd label {
    background-image: linear-gradient(#53515f, #363432);
    background-position: 3rem;
    background-repeat: repeat-y;
    background-size: 3rem;
    border-radius: .2rem 0 0 .2rem;
    display: table-cell;
    font-size: .5rem;
    height: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-position .3s;
    vertical-align: middle;
    width: 3rem;
}
#osc1-kbd label + label {
    background-image: linear-gradient(#53515f, #363432);
    background-repeat: repeat-y;
    background-size: 3rem;
    background-position: -3rem;
    border-radius: 0 .2rem .2rem 0;
}
#osc1-kbd .selected {
    background-position: 0;
    box-shadow: inset 0 -1px 2px 1px #424140, 0 2px 4px -2px #543230;
    color: #cfc6c3;
    text-shadow: -2px 0 1px #7f7673, 2px 0 1px #7f7673;
}