@-webkit-keyframes switch-off {
    0% {
        background-position: 3rem;
    }
    50% {
        color: #cfc6c3;
    }
    100% {
        background-position: 0rem;
    }
}

@-webkit-keyframes switch-on {
    0% {
        background-position: -3rem;
    }
    50% {
        color: #cfc6c3;
    }
    100% {
        background-position: 0rem;
    }
}

#osc1-kbd {
//    background: #9e9c99 linear-gradient(#6c6956, #887);
//    background: linear-gradient(#53515f, #363432);
    background: #9e9c99 linear-gradient(#6c6956, #887);
    border: 1px solid #2c2916;
    color: #000;
    display: inline-block;
}

#osc1-kbd input {
    display: none;
}

#osc1-kbd label {
    background: linear-gradient(#53515f, #363432);
    background-repeat: repeat-y;
    background-size: 3rem;
    display: table-cell;
    font-size: .5rem;
    height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: color .25s, background-position .25s;
    vertical-align: middle;
    width: 3rem;
}

#osc1-kbd .selected {
    color: #cfc6c3;
    text-shadow: -2px 0 1px #7f7673, 2px 0 1px #7f7673;
}

#osc1-kbd > label {
    &:first-child {
        background-position: 3rem;
        &.selected {
            background-position: 0rem;
            -webkit-animation: switch-off .25s;
        }
    }
    &:last-child {
        background-position: -3rem;
        &.selected {
            background-position: 0rem;
            -webkit-animation: switch-on .25s;
        }
    }
}