%vertical-switch {
    background: linear-gradient(#53515f, #363432) repeat-x, linear-gradient(#6c6956, #887) fixed;
    background-position: 0 0;
    background-size: 2rem 1.5rem, auto;
    border: 1px solid #3c3926;
    border-radius: .2rem;
    display: inline-block;
    transition: background-position .25s;
    vertical-align: top;
    width: 3rem;
    &.pos1 {
        background-position-y: 0, 0;
    }
    &.pos2 {
        background-position-y: 1.5rem, 0;
    }
    &.pos3 {
        background-position-y: 3rem, 0;
    }
    &.pos4 {
        background-position-y: 4.5rem, 0;
    }
    &.pos5 {
        background-position-y: 6rem, 0;
    }
    label {
        color: #000;
        cursor: pointer;
        display: block;
        font-size: .5rem;
        height: 1.5rem;
        padding: .5rem 0;
        text-align: center;
        text-transform: uppercase;
        &.selected {
            -webkit-animation: multi-switch .25s;
            color: #cfc6c3;
            text-shadow: -2px 0 1px #7f7673, 2px 0 1px #7f7673;
        }
        &:not(.selected):hover {//CAN BE COMBINED WITH SOMETHING ELSE
            background-color: #696663;
            box-shadow: inset 0px 0px 20px -3px #3e3c39;
        }
    }
    input {
        display: none;
    }
}