%wheel {
    border: 1px solid #1f1e1e;
    box-shadow: inset 0 0 20px 2px #555;//WARNING PIXELS
    color: #000;
    display: inline-block;
    font-size: .5rem;
    margin: 0 0 0 1rem;
    padding: 0 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 4rem;
    input {
        -webkit-appearance: slider-vertical;
        height: 10rem;
        margin: .5rem auto;
        position: relative;
        width: 4rem;
        z-index: 0;
    }
}