//THERE MUST BE A WAY TO MIXIN THESE
@-webkit-keyframes drop-down {

  0% {
    overflow: hidden;
    transform: scaleY(0);
  }

  100% {
    overflow: auto;
    transform: scaleY(1);
  }

}

@-webkit-keyframes switch-off {

  0% {
    background-position: 3rem;
  }

  100% {
    background-position: 0;
  }

}

@-webkit-keyframes switch-on {

  0% {
    background-position: -3rem;
  }

  100% {
    background-position: 0;
  }

}

@-webkit-keyframes lag-label {

  0% {
    color: #000;
  }

  45% {
    color: #000;
  }

  100% {
    color: #cfc6c3;
  }

}

//UNPREFIXED
@keyframes switch-off {

  0% {
    background-position: 3rem;
  }

  100% {
    background-position: 0;
  }

}

@keyframes switch-on {

  0% {
    background-position: -3rem;
  }

  100% {
    background-position: 0;
  }

}

@keyframes lag-label {

  0% {
    color: #000;
  }

  45% {
    color: #000;
  }

  100% {
    color: #cfc6c3;
  }

}