*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('../images/stone.jpg');
  background-position: 0 -2rem;
  box-sizing: border-box;
  color: $body-text;
  font-family: helvetica, arial, sans-serif;
  font-size: 17px;
  //margin: 2rem 0;//RESPONSIVE - no top/bottom margin on mobile or ipad
  overflow-x: hidden;
  @include bp(a) {
    font-size: 20px;
  }
}

%endcheeks {
  background: url('../images/wood.jpg');
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: 3rem;
}

body {
  background: $body-bg;
  margin: 0 auto;
  //padding: .5rem 1rem;//DESKTOP PADDING
  padding: .5rem .25rem;
  position: relative;
  width: 18rem;//RESPONSIVE - 57 on desktop (could be a max-width?)
  width: 100%;
  @include bp(a) {
    padding: .5rem;
  }

  &::before {//RESPONSIVE - IPAD LANDSCAPE AND UP
    //@extend %endcheeks;
    //background-position: -1.5rem 6.05rem;
    //left: -3rem;
  }

  &::after {//RESPONSIVE - IPAD LANDSCAPE AND UP
    //@extend %endcheeks;
    //right: -3rem;
  }

}

h1 {
  display: inline-block;
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .3rem;
  margin: 0 0 2rem;
  text-transform: uppercase;

  a {
    font-size: 1rem;
  }

}

.tagline {
  font-size: .5rem;
  text-transform: uppercase;
}

.nav {
  position: relative;
  top: -2rem;
  text-transform: uppercase;
  @include bp(pl) {
    position: absolute;
    right: 0;
    text-align: right;
    top: .6rem;//.7rem on DESKTOP?
   }

  li {
    display: block;
    list-style-type: none;
    margin: 1rem 0;
    @include bp(pl) {
      display: inline-block;
      margin: 0 1rem;
    }
  }

}

a {
  font-size: .6rem;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $white;
  }

}

h2 {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: .8rem;
  font-style: italic;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

.panel {
  background: radial-gradient(#131311, transparentize($body-bg, 1)) 0 -.9rem no-repeat;
  background-size: 55rem 1rem;
  border: none;
  height: 1rem;
  margin: 1rem auto 0;
}

.copyright {
  font-size: .5rem;
  margin: 1.5rem 0 .5rem;
  position: absolute;
  text-transform: uppercase;
}
