$body-bg: rgba(36, 36, 35, 1);//#242423;
$body-text: #a3a394;
$dark-grey: #242220;
$mid-grey: #3e3c39;
$grey: #7f7673;
$white: #f2f2f2;

$red: #ff3232;//replace hex code with variable


/* UNNAMED COLORS

#100b0a
#111
#131311
#161417
#191911
#1e1c19
#1f1e1e
#1f1f17

#2c2916
#2e2c29
#2e2a0e

#323130
#363432
#3c3926
#3e3c39

#43414f
#444

#514e5d
#53515f
#555

#666
#696663
#6c6956

#827c7a
#887

#999
#9e9c99
#9f9693

#a2a2a0

#c2c1c0
#cfc6c3

#d2d2d2

#e8e8e8

#f0f0f0
#fff6f3
*/
