*,
::before,
::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	background-image: url('../images/bg-too-big.jpg');
	background-position: 0 -2rem;
	box-sizing: border-box;
	color: $body-text;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	margin: 2rem 0;
}
%endcheeks {//WARNING MOVE
	background: url('../images/wood-texture2.jpg');//WARNING RENAME
	bottom: 0;
	content: '';
	position: absolute;
	top: 0;
	width: 3rem;
}
body {
	background: $body-bg;
	margin: 0 auto;
	padding: .5rem 1rem;
	position: relative;
	width: 54rem;
	&::before {
		@extend %endcheeks;
		//background-position-x: -30px;//WARNING PIXELS
		//background-position-y: 121px;//WARNING PIXELS
		background-position: -1.5rem 6.05rem;
		left: -3rem;
	}
	&::after {
		@extend %endcheeks;
		right: -3rem;
	}
}
h1 {
	font-size: 1rem;
	font-weight: 100;
	letter-spacing: .25rem;
	margin: 0 0 2rem;
	text-transform: uppercase;
}
h2 {
	font-family: 'brandon-grotesque', sans-serif;
	font-size: .8rem;
	font-style: italic;
	text-transform: uppercase;
}
button,
input {
	outline: none;
}

.panel {//WARNING MOVE
	background-image: radial-gradient(#131311, rgba(36, 36, 36, 0));//LOOKS GOOD IN CHROME;
//	background: radial-gradient(#131311, rgba(36, 36, 36, 0), transparent);//LOOKS GOOD IN FIREFOX -- INVISIBLE IN CHROME
	background-position: 0 -.9rem;
	background-repeat: no-repeat;
	background-size: 52rem 1rem;
	border: none;
	display: block;
	height: 1rem;
	margin: 1rem auto 0;
	width: 52rem;
}
